<a href="#" class="choose-tour__card tour-card">
	<div class="tour-card__cover _ibg">
		<img src="@@image" alt="@@title" width="370">
	</div>

	<div class="tour-card__body">
		<div class="tour-card__header">
			<h3 class="tour-card__title title">@@title</h3>
			<span class="tour-card__price">@@price</span>
		</div>

		<div class="tour-card__actions">
			<div class="tour-card__action card-action">
				<span>Подробнее</span>
				<div class="card-action__icon card-action__icon_arrow"></div>
			</div>
		</div>
	</div>
</a>