.reviews {
	padding: 135px 0px 0px 0px;

	&__container {
	}

	&__section-header {
		margin: 0px 0px 100px 0px;
	}

	&__title {
	}

	&__text {
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(500px, auto);
		column-gap: 30px;
	}

	&__card {
		padding: 40px;
		background-color: $beige200;
		border-radius: 50px;
	}
}

.card-review {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__body {
	}

	&__text {
		font-weight: 700;
		font-size: 23px;
		line-height: 122%;
		color: $black;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		margin: 68px 0px 0px 0px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__user-name {
		font-weight: 500;
		font-size: 35px;
		line-height: 122%;
		color: $black;

	}

	&__user-image {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__tour-name {
		margin: 8px 0px 0px 0px;
		font-weight: 400;
		font-size: 17px;
		line-height: 142%;
		letter-spacing: -0.01em;
		color: $gray300;
	}
}
