.title {
	font-weight: 700;
}

h1.title {
	font-size: 96px;
	line-height: 109%;
	letter-spacing: 0.02em;
}

h2.title {
	font-size: 59px;
	line-height: 124%;
}

h3.title {
	font-size: 35px;
	font-weight: 500;
	line-height: 122%;
}